


.gifRun_content{
    display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x:hidden; 
  animation: marquee 2.5s infinite linear; 
  white-space: nowrap;




}

.gifRun{
    white-space: nowrap;
    animation: marquee 2.5s infinite linear; 
}

@keyframes gifRun_content{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
  }